# Ignore Node.js dependencies
node_modules/

# Ignore Next.js build output
.next/

# Ignore build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local env files
.env.local
.env*

# Ignore system files
.DS_Store

# Ignore VSCode settings (optional)
.vscode/
